*.pyc
*.pyo
*~
.project
.pydevproject
asthelper.completions
.emacs.desktop*
TAGS
build/
package/dnf.spec
dnf/cli/completion_helper.py
dnf/const.py
doc/conf.py
file.conf
tests/modules/var/
usr/
bin/dnf*-2
bin/dnf*-3
bin/yum-2
bin/yum-3
*.cmake
*CMakeCache*
