[Unit]
Description=dnf-automatic-download timer
# See comment in dnf-makecache.service
ConditionPathExists=!/run/ostree-booted
Wants=network-online.target

[Timer]
OnBootSec=1h
OnUnitInactiveSec=1d
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=multi-user.target
